DB_USER=
DB_PASSWORD=
API_PATH=http://localhost:3000/api
UI_PATH=http://localhost:3000
JWT_SECRET=secret
ALLOWED_GROUPS=housing-officer-dev,area-housing-manager-dev
FEEDBACK_LINK=https://docs.google.com/forms/d/e/1FAIpQLSck8s7QbidRe880Y-BAyh12jqUP34NGwdpqJj7NYyX_aPgoxQ/viewform?usp=sf_link
CRM_CLOUD_URL=https://hlbctrial-tst.outsystemsenterprise.com/MyRentAccount/rest/GetCRMAccessToken/GetToken
CRM_CLOUD_AUTHORIZATION=secret
CRM_API_URL=https://lbhackneydev.crm11.dynamics.com/
NEXT_PUBLIC_API_PATH=http://localhost:3000/api
V1_MAT_API_URL=
V1_MAT_API_TOKEN=

#DB Setup
DB_PASSWORD=password
DB_USER=mat_user
DB_HOST=localhost
DB_PORT=10201
DB_NAME=mat_service
