service: hn-mat

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-2
  stage: ${opt:stage, env:SLS_STAGE, 'dev'}

plugins:
  - serverless-offline

functions:
  hn-mat-service:
    name: ${self:service}-${self:provider.stage}
    handler: src/lambda.handler
    events:
    - http:
        path: api/{proxy+}
        method: ANY
    - http: ANY /
    - http: ANY /{proxy+}
    
