version: 2.1

orbs:
  cypress: cypress-io/cypress@1.25.1

executors:
  my-executor:
    docker:
      - image: circleci/node:12.13

    working_directory: ~/repo

jobs:
  build_and_test:
    executor: my-executor

    steps:
      - checkout

      - run:
          name: Concatenate all package-lock.json files into single file for checksum
          command: cat package-lock.json > combined-package-lock.txt

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "combined-package-lock.txt" }}

      - run:
          name: Install dependencies
          command: |
            sudo npm i --no-cache git
            sudo npm i

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "combined-package-lock.txt" }}

      - run:
          name: Run linter
          command: npm run lint

      - run:
          name: Run unit tests
          command: npm run test

      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy-staging:
    executor: my-executor

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Set AWS credentials
          command: |
            pushd ~ && ./repo/node_modules/serverless/bin/serverless.js config credentials -p aws -k ${AWS_ACCESS_KEY_ID} -s ${AWS_SECRET_ACCESS_KEY} -n hackney && popd

      - run:
          name: Deploy application
          command: |
            npm run build && ./node_modules/serverless/bin/serverless.js deploy -s staging

  deploy-production:
    executor: my-executor

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Set AWS credentials
          command: |
            pushd ~ && ./repo/node_modules/serverless/bin/serverless.js config credentials -p aws -k ${AWS_ACCESS_KEY_ID} -s ${AWS_SECRET_ACCESS_KEY} -n hackney && popd

      - run:
          name: Deploy application
          command: |
            npm run build && ./node_modules/serverless/bin/serverless.js deploy -s production

workflows:
  version: 2
  continuous-delivery:
    jobs:
      - build_and_test
      - cypress/run:
          start: next start
          wait-on: 'http://localhost:3000'
      - deploy-staging:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - master
      - permit-deploy-production:
          type: approval
          requires:
            - deploy-staging
      - deploy-production:
          requires:
            - permit-deploy-production
